<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="cn.info.platform.entity.Student" alias="student" />
		<typeAlias type="cn.info.platform.entity.User" alias="user" />
		<typeAlias type="cn.info.platform.entity.Category" alias="category" />
		<typeAlias type="cn.info.platform.entity.Tree" alias="tree" />
	</typeAliases>
</configuration>