<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace名字必须与Mapper接口名一致 -->

<mapper namespace="cn.info.platform.mapper.TreeMapper">
	<select id="getTreeByFid" resultType="java.util.ArrayList" resultMap="treeMap" parameterType="int">
		select * from tree where fid = ${treeFID}
	</select>
	
	<select id="getAllTree" resultType="java.util.ArrayList" resultMap="treeMap">
		select * from tree
	</select>
	
</mapper>