<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace名字必须与Mapper接口名一致 -->

<mapper namespace="cn.info.platform.mapper.CategoryMapper">
	<select id="getCategoryByFid" resultMap="categoryMap" parameterType="int">
		select * from category where fid = ${cateFID}
	</select>
	
	<select id="getAllCategory" resultMap="categoryMap">
		select * from category
	</select>
	
</mapper>