<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace名字必须与Mapper接口名一致 -->

<mapper namespace="cn.info.platform.mapper.UserMapper">
	<select id="login" resultType="user" resultMap="userMap" parameterType="user">
		select * from user where username = #{userName} and password = #{passWord}
	</select>

	<update id="modify" parameterType="user" >
	  update user set logintime = #{loginTime} where username = #{userName}
	</update>

</mapper>